@use "colors";

// ===========================================================================
// General rules
// ===========================================================================

// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// 1rem = 10px
:root {
  font-size: 62.5%;
}

body {
  // Layout
  display: flex;
  align-items: center;
  justify-content: center;

  // Box Model
  width: 100vw;
  height: 100vh;

  // Display
  background-color: colors.$dark-blue-main;
  font-family: "Outfit", sans-serif;
}
