@use "colors";
@use "card-members";
@use "card-image";
@use "card-description";
@use "card-author";

// ===========================================================================
// Card
// ===========================================================================

.card {
  // Layout
  @include card-members.custom-layout(column, left, center);

  // Box Model
  width: 32rem;
  border-radius: 1rem;
  padding: 2rem;

  // Display
  background-color: colors.$dark-blue-card;

  // Mixin contains image properties
  @include card-image.properties;

  // Mixin contains description properties
  @include card-description.properties;

  // Mixin contains author properties
  @include card-author.properties;
}
